* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
.body {
  min-height: 100vh;
}
.titleContainer {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 0;
  margin: 0 auto;
}
.button {
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
  color: #3a393a;
  font-weight: bold;
  cursor: pointer;
}
.inputContainer {
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 30px;
}
.input {
  border: none;
  border-radius: 20px;
  padding: 10px 40px;
  color: #3a393a;
  font-weight: bold;
  background-color: #f0f0f0;
  width: 80%;
}
.input:focus {
  outline: none;
}
.inputContainer i {
  position: absolute;
  top: 25%;
  left: 11%;
}
.noteContainer {
  min-height: 300px;
  padding: 0 9em;
  display: flex;
  flex-wrap: wrap;
}
.note {
  width: 330px;
  height: 220px;
  background-color: #56c2b8;
  border-radius: 10px;
  margin: 10px;
  text-align: start;
}
.note textarea {
  width: 100%;
  height: 80%;
  background-color: transparent;
  border: none;
  border-radius: 10px;
  padding: 15px 20px;
  font-size: 1.1rem;
  resize: none;
}
.note textarea:focus {
  outline: none;
}
.note textarea::placeholder {
  font-size: 0.9rem;
}
.text {
  width: 100%;
  height: 80%;
  padding: 15px 20px;
  margin-bottom: 10px;
  font-size: 1.1rem;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}
.date {
  padding: 20px;
  font-size: 0.85rem;
  margin-top: 5px;
}
.note i {
  cursor: pointer;
  margin-left: 180px;
  font-size: 1.1rem;
}
.saveContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

@media only screen and (max-width: 1000px) {
  .input {
    width: 90%;
  }
  .titleContainer {
    width: 90%;
  }
  .inputContainer i {
    left: 7%;
    top: 28%;
    font-size: 0.8em;
  }
  .noteContainer {
    padding: 0 3em;
  }
}

@media only screen and (max-width: 500px) {
  .titleContainer h1 {
    font-size: 1.5em;
  }
  .inputContainer i {
    left: 9%;
  }
  .noteContainer {
    padding: 0 1em;
  }
}
